html{
  font-size: 62.5%;
}

header{
  background: black;
  font-family: 'Cabin', sans-serif;
  font-size: 0.8rem;
}

header h1{
  color: white;
  margin: 0;
  padding: 20px 0 20px 40px;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  background-image: url(../img/icon1.png);
  background-repeat: no-repeat;
  background-size: 10% auto;
  background-position: 2% center;
  background-color: white;
  cursor: pointer;
  font-family: 'Old Standard TT', serif;
  font-size: 1.2rem;
  padding: 20px 0 20px 14%;
  list-style: none;
}
li:hover{
  background-color: #F2ECEB;
}
